body {
	font-family: Monospace;
	font-size: 12px;
}

body > header {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #45a1ff;
    color: #fff;
}

body > table > td {
	 padding: 10px;	
}

body > footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #45a1ff;
    color: #fff;
}
